body {
    font-family: Arail, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #222;
    color: #fff;
    padding: 2rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.header-text h1 {
    margin: 0;
}

.header-text p {
    margin: 0;
    font-size: 0.9rem;
    opacity: 0.8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.nav-links a:hover {
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

section {
    padding: 1.5rem 0;
}

.project {
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    padding: 1rem;
}

.about-container {
    display:flex;
    align-items: center;
    gap: 2rem;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: none;
}

#skills {
    margin-top: 2rem;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    padding: 0;
}

.skills-list li {
    background: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}
button {
    cursor: pointer;
}

.hidden {
    display: none;
}
